* {
  box-sizing: border-box;
  font-size: 13px;
  color: #807f80; }

::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(to bottom, #fdcf8c, #cbd9dd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fdcf8c, #cbd9dd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px; }

a {
  color: #7eb5b9;
  text-decoration: none; }

.tleCAT {
    width: 800px;
  margin: 0 auto;
    margin-bottom: -9px;
}

.forum {
    width: 800px;
    margin: 0 auto;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: top; 
}
.forum .info-new {
    width: 30%;
    margin: 10px; 
}
.forum .info-new .laste-message {
    background: #ebebeb;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    border: solid 1px whitesmoke;
  line-height:17px;
  font-size:10px;
}
.forum .info-new .laste-message {
    display: block;
    text-transform: uppercase; 
}
.forum .info-new .laste-message a{
    font-family: 'Vidaloka';
    letter-spacing: 1px;
    color: #7eb5b9!important;
    text-decoration: none;
}

.forum .info-new .laste-message span{
    letter-spacing: 1px;
    font-size: 11px;
}
.forum .info-new .laste-message span strong a {
    font-family: 'Vidaloka';
    letter-spacing: 1px;
    display: inline-block;
      color: #807f80; 
}
.forum .info-new .laste-message .icon {
    color: #f5c9a9;
    font-size: 17px;
    text-shadow: 1px 1px 9px #f5c9a9; 
}
.forum .info-new .imge-new {
    border: solid 1px whitesmoke;
    margin-top: 5px;
    background: #f5c9a9;
    border-radius: 10px;
    height: 40px; 
}

.imge-new img {
    width: 100%;
    border-radius: 9px;
    opacity: 0.4;
}

.forum .vava-last-message {
    width: 10%;
    margin: 10px; 
}
.forum .vava-last-message img {
    width: 100%;
    border-radius: 5px;
  	height:auto!important;
}
.forum .info-forum {
    border: solid 1px whitesmoke;
    background: #ebebeb;
    border-radius: 15px;
    width: 60%;
    margin: 10px;
    padding: 10px;
}
.forum .info-forum .titre-forum {
    color: #7eb5b9;
    font-size: 17px;
    text-shadow: 1px 1px 9px #7eb5b9;
    font-family: 'Vidaloka';
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    display: block;
    border-bottom: solid 1px #f5f5f5; 
  padding-bottom:7px;
}

.forum .info-forum .titre-forum a{
  color: #7eb5b9;
    font-size: 17px;
}
.forum .info-forum .titre-forum i {
    color: #f5c9a9;
    font-size: 17px;
    text-shadow: 1px 1px 9px #f5c9a9;
    padding: 0 20px;
}
.forum .info-forum p {
    height: 57px;
    overflow: auto;
    text-align: justify;
    margin: 5px 0; 
}
.forum .info-forum .voir-les-sf {
    height: 15px;
    overflow: none;
    transition: all .3s ease;
    overflow: hidden;
    line-height: 18px; 
}
.forum .info-forum .voir-les-sf span {
    text-align: center;
    width: 100%;
    display: block;
    color: #f5c9a9;
    text-transform: uppercase;
    font-size: 11px;
    text-shadow: 1px 1px 9px #f5c9a9;
    padding: 0 20px; 
}
.forum .info-forum .voir-les-sf:hover {
    height: 50px; 
}
.forum .info-forum .voir-les-sf .sous-forum-div a {
    display: inline;
    background: #f5c9a9;
    margin: 2px 5px;
    padding: 2px 5px;
    text-transform: lowercase;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all .3s ease; 
  	color:white!important;
  font-size : 13px;
}
.forum .info-forum .voir-les-sf .sous-forum-div a:hover {
    background: #e8b896; 
}

img.tleCATfoo {
    box-sizing: border-box;
    margin-left: 4px;
    width: 804px;
}
